@media (max-height: 800px) and (min-width: 1024px) {
  #hero-partners {
    display: none;
  }

  #partners-partners {
    display: flex;
  }

  #grid-partners {
    grid-template-columns: repeat(3, 1fr);
    gap: 96px;
  }
}

/* [data-theme="dark"] .modal-box {
  width: auto !important;
  height: calc(100vh - 5rem);
} */
