@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2e2e2e;
}

body::-webkit-scrollbar {
  width: 12px;
	background-color: #2e2e2e;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d95000;
}

body.scroll-bottom::-webkit-scrollbar-thumb {
  border-radius: 10px 10px 0 0;
}

body.scroll-top::-webkit-scrollbar-thumb {
  border-radius: 0 0 10px 10px;
}